*~
*.o
*.gir
*.typelib
*.gi
*.la
*.lo
sheeple
*.vapi
*.so
src/libsheeple/SheepleBackend.[ch]
src/libsheeple/SheepleContact.[ch]
src/libsheeple/SheepleStore.[ch]
src/libsheeple/SheepleGroup.[ch]
src/libsheeple/SheepleSource.[ch]
src/libsheeple/SheepleSourceView.[ch]
src/libsheeple/SheepleContactList.[ch]
src/libsheeple/SheepleContactView.[ch]
src/libsheeple/SheepleMetaContact.[ch]
src/libsheeple/SheepleEditorField.[ch]
src/libsheeple/SheepleEditorList.[ch]
src/libsheeple/SheepleContactViewUI.[ch]
src/libsheeple/sheeple.h
