*~
*.o
*.gir
*.typelib
*.gi
*.la
*.lo
sheeple
*.vapi
*.so
src/libsheeple/SheepleContactBackend.[ch]
src/libsheeple/SheepleContact.[ch]
src/libsheeple/SheepleContactStore.[ch]
src/libsheeple/SheepleGroup.[ch]
src/libsheeple/SheepleSource.[ch]
src/libsheeple/SheepleSourceView.[ch]
src/libsheeple/sheeple.h
